@using Periodicals.Areas.Account.Models
@model AccountViewModel
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account</h2>
<div>
    <div class="acc">
        @Html.LabelFor(m => m.Username)
        @Model.Username
        <br />
        @Html.LabelFor(m => m.Email)
        @Model.Email
        <br />
        <br />
        @Html.ActionLink("Change info", "ChangeInfo", "Account", new
    {
        area = "Account"

    }, new { @class = "btn btn-success btn-lg btn-xs", @role = "button" })
    </div>
    <br />
    @if (!ViewBag.Blocked)
    {
        <div class="alert alert-info acc-credit">
            <h3>Your account: @Model.Credit</h3>
            @Html.ActionLink("Top up", "TopUp", "Account", new { area = "Account" }, new { @class = "btn btn-primary btn-lg", @role = "button" })
        </div>
    }
    else
    {
        <div class="alert alert-danger">You account is blocked and cann't subscribe on editions</div>
    }
    <br />
    @Html.LabelFor(m => m.Subscriptions)

    @if (Model.Subscriptions != null && Model.Subscriptions?.Count != 0)
    {
        foreach (var m in Model.Subscriptions)
        {
            <br />
            @Html.ActionLink(m.Name, "Edition", "Edition", new { area = "", editionId = m.Id }, new { @class = "btn btn-link btn-lg", @role = "button" })
            @Html.ActionLink("Unsubscribe", "Unsubscribe", "Edition", new { area = "", editionId = m.Id }, new { @class = "btn btn-success btn-lg btn-xs", @role = "button" })
        }
    }
    else
    {
        <p>You do not have any subscriptions</p>
    }

    <br />
</div>
<br />

