
@{
    ViewBag.Title = "ResetPassword";
}

<h2>Reset Password</h2>

@using (Html.BeginForm("ResetPassword", "Account", new { area = "Account" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    if (ViewBag.ResetPasswordResult != null)
    {
        <div class="alert-danger">@ViewBag.ResetPasswordResult</div>
    }
<div class="form-group">
    @Html.Label("Enter you email or username", new { @class = "col-md-2 control-label" })
    @Html.TextBox("userString", null, new { @class = "form-control" })
    <br />
    @Html.Label("Enter new password", new { @class = "col-md-2 control-label" })
    @Html.TextBox("password", null, new { @class = "form-control", type = "password" })
    <br />
    @Html.Label("Confirm password", new { @class = "col-md-2 control-label" })
    @Html.TextBox("confirmPassword", null, new { @class = "form-control", type = "password" })
</div>
    <input type="submit" value="Send" class="btn btn-default" />
    }
