@using Periodicals.Areas.Account.Models
@model TopUpModel


<link rel="stylesheet" href="~/Content/Payment.new.css">
<div id="main_content">

    <div id="page_content">
        <div class="payment-form">

            <div class="forms type-card">
                @using (Html.BeginForm("TopUp", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                {

                    <div class="card">
                        <div class="num-block">
                            <span>Card number</span><br />
                            @Html.TextBoxFor(m => m.Card, new { placeholder = "XXXX-XXXX-XXXX-XXXX", maxlength = "19", type = "tel", pattern = "[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}" })
                            @Html.ValidationMessageFor(m=>m.Card,"", new{@class="text-danger"})
                        </div>
                        <div class="dates-block">
                            <span>Validity</span><br />
                            @Html.TextBoxFor(m => m.DateMonth, new { maxlength = "2", type = "tel", pattern = "[0-9]{2}" }) / @Html.TextBoxFor(m => m.DateYear, new { maxlength = "2", type = "tel", pattern = "[0-9]{2}" })
                            @Html.ValidationMessageFor(m => m.DateMonth, "", new { @class = "text-danger" })
                            @Html.ValidationMessageFor(m => m.DateYear, "", new { @class = "text-danger" })
                        </div>
                        <div class="cvv-block">
                            <span>CVV2</span><a class="q" href="#" target="_">?</a><br />
                            @Html.TextBoxFor(m => m.CVV, new { id = "input-cvv", @class = "cvv", name = "cvv[new]", type = "password", placeholder = "", autocomplete = "new-password", maxlength = "3", pattern = "[0-9]{3}" })
                            @Html.ValidationMessageFor(m => m.CVV, "", new { @class = "text-danger" })
                            <div class="cvvkb"></div>
                        </div>
                    </div>
                    <p class="total-amount">
                        Amount due: @Html.TextBoxFor(m => m.Amount, new{ @class="price" }) $</p>
                    @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
                    <p class="continue">
                        <input id="service_confirm_payment_button" type="submit" class="btn  btn-info" value="Pay"/>
                    </p>
                 }
            </div>
        </div>
    </div>
</div>
