@using Periodicals.Areas.Account.Models
@using Periodicals.Models
@model List<EditionModel>

@{
    ViewBag.Title = "Edition Page";
}

<div id="resSearch">

    @foreach (var m in Model)
    {
    <div>
        <div class="media">

            <a class="pull-left" href="#">
                <img class="media-object" src="~/Content/dbImg/@m.Image" alt="...">
            </a>
            <div class="media-body">
                <h2 class="media-heading">@m.Name</h2>
                <time>@m.DateNextPublication</time>
                <p>@m.Description</p>
                @Html.ActionLink("More", "Edition", new { editionId = m.Id })
                @if (HttpContext.Current.User.IsInRole("Administrator") || HttpContext.Current.User.IsInRole("Moderator"))
                {
                    <p class="navbar-text navbar-right">
                        @Html.ActionLink("Edit", "EditEdition", "Edition", new { editionId = @m.Id }, new { @class = "btn btn-info crud" })

                        @Html.ActionLink("Delete", "DeleteEdition", "Edition", new { editionId = @m.Id }, new { @class = "btn btn-info crud" })

                        @Html.ActionLink("Add new", "AddEdition", null, new { @class = "btn btn-info crud" })

                    </p>
                }
            </div>
        </div>
    </div>

    }

</div>

@section Login{
    @Html.Partial("~/Areas/Account/Views/Account/_Login.cshtml", new LoginViewModel())
}