

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Periodicals</title>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="~/Scripts/ButtonScript.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Partial("_Navbar");
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
                <li>@Html.ActionLink("Account", "Account", "Account", new { area = "Account" }, null)</li>
}
                    @if (HttpContext.Current.User.IsInRole("Administrator"))
    {
                <li>@Html.ActionLink("Administration", "Index", "Admin", new { area = "Admin" }, null)</li>
}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-sort-by-alphabet sort1" data-toggle="dropdown"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li> @Html.ActionLink("Ascendingly", "SortByName", "Home", new { area = "", order=true}, new { @class = "glyphicon glyphicon-sort-by-alphabet sort2" })</li>
                            <li> @Html.ActionLink("Descendingly", "SortByName", "Home", new { area = "", order = false}, new { @class = "glyphicon glyphicon-sort-by-alphabet-alt sort2" })</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-sort-by-order sort1" data-toggle="dropdown"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li> @Html.ActionLink("Ascendingly", "SortByPrice", "Home", new { area = "", order = true}, new { @class = "glyphicon glyphicon-sort-by-attributes sort2" })</li>
                            <li> @Html.ActionLink("Descendingly", "SortByPrice", "Home", new { area = "", order = false }, new { @class = "glyphicon glyphicon-sort-by-attributes-alt sort2" })</li>
                        </ul>
                    </li>
                </ul>


                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                    <button type="submit" class="btn btn-default my-btn1">Отправить</button>
                                </form>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">ru</a></li>
                                    <li><a href="#">eng</a></li>
                                </ul>
                            </li>
                        </ul>

</div>
        </div>
    </div>
    <h1 class="title"><img src="~/Content/im.png" height=15> Periodicals! </h1>
    <div class="container body-content">
        <div class="main-body">
            @RenderBody()
        </div>


        <div class="right-sidebar">
            <ul class="nav nav-pills nav-stacked">
                <li> @Html.ActionLink("Главная", "Index", "Home", new { area = "" }, null)</li>

                @*<li> @Html.ActionLink("Гостевая", "Guest", "Guest", new { area = "" }, null)</li>*@
                @* <li> @Html.ActionLink("Анкета", "Blank", "Blank", new { area = "" }, null)</li>*@
                <li> @RenderSection("Login", false) </li>

                @* <li> @RenderSection("Vote", false) </li>*@
            </ul>
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - Elena Borozenets ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
