<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Periodicals</title>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>*@
    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <script src="~/Scripts/ButtonScript.js"></script>
    <script src="~/Scripts/SearchScript.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Edition", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Partial("_Navbar");
                    <li>@Html.ActionLink("About", "About", "Edition", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Edition", new { area = "" }, null)</li>
                    @if(HttpContext.Current.User.IsInRole("Subscriber"))
                    {
                    <li>@Html.ActionLink("Account", "Account", "Account", new { area = "Account" }, null)</li>
                    }
                    @if (HttpContext.Current.User.IsInRole("Administrator"))
                    {
                    <li>@Html.ActionLink("Administration", "Administration", "Admin", new { area = "Admin" }, null)</li>
                    }


                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-sort-by-alphabet sort1"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li> @Html.ActionLink("Ascendingly", "SortByName", "Edition", new { area = "", order = true }, new { @class = "glyphicon glyphicon-sort-by-alphabet sort2" })</li>
                            <li> @Html.ActionLink("Descendingly", "SortByName", "Edition", new { area = "", order = false }, new { @class = "glyphicon glyphicon-sort-by-alphabet-alt sort2" })</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-sort-by-order sort1"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li> @Html.ActionLink("Ascendingly", "SortByPrice", "Edition", new { area = "", order = true }, new { @class = "glyphicon glyphicon-sort-by-attributes sort2" })</li>
                            <li> @Html.ActionLink("Descendingly", "SortByPrice", "Edition", new { area = "", order = false }, new { @class = "glyphicon glyphicon-sort-by-attributes-alt sort2" })</li>
                        </ul>
                    </li>
                    <li>
                        @using (Ajax.BeginForm("Search", "Edition",
                            new { area = "" },
                            new AjaxOptions
                            {
                                UpdateTargetId = "resSearch"

                            },
                            new { @class = "navbar-form navbar-left", @role = "search", @onsubmit = "return false;", @name = "form" }))
                        {
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" name="search" id="search" />
                            </div>
                        }
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("ru", "Languages", "Edition", new {area = "", language = "ru"}, new {@class = ""})</li>
                            <li>@Html.ActionLink("eng", "Languages", "Edition", new {area = "", language = "eng"}, new {@class = ""})</li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <h1 class="title"><img class="log" src="~/Content/im.png" height=15> Periodicals! </h1>
    <div class="container body-content">
        <div class="main-body">
            @RenderBody()
        </div>


        <div class="right-sidebar">
            <ul class="nav nav-pills nav-stacked">
                <li> @RenderSection("Login", false) </li>

            </ul>
        </div>
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - Elena Borozenets ASP.NET Application</p>
            <p id="back-top">
            <a href="#top"><span></span>Back to Top</a>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
