@using Periodicals.Models
@model List<EditionModel>



    <h2>Результаты поиска : @ViewBag.searchString</h2>

    @foreach (var m in Model)
    {


        <h2>@m.Name</h2>
        <time>@m.DateNextPublication</time>
        <p>@m.Description</p>

        @Html.ActionLink("More", "Edition", new { editionId = m.Id }, new { @class = "" })
    }