@model Periodicals.Models.EditionModel
@{

    ViewBag.Title = "Edition";
}

<div class="media">

    <a class="pull-right" href="#">
        <img class="media-object" src="~/Content/dbImg/@Model.Image" alt="...">
    </a>
    <div class="media-body">
        <h2 class="media-heading">@Model.Name</h2>
        <time>@Model.DateNextPublication</time>
        <p>@Model.Description</p>
        <p>@Model.Price $</p>
    </div>
</div>
@*
    <h2>@Model.Name</h2>
    <time>@Model.DateNextPublication</time>


    <p>@Model.Description</p>*@

@if (HttpContext.Current.User.IsInRole("Administrator") || HttpContext.Current.User.IsInRole("Moderator"))
{
    @Html.ActionLink("Edit", "EditEdition", "Home", new { editionId = Model.Id }, new { @class = "btn btn-info crud" })
    @Html.ActionLink("Delete", "DeleteEdition", "Home", new { editionId = Model.Id }, new { @class = "btn btn-info crud" })
    @Html.ActionLink("Add new", "AddEdition", null, new { @class = "btn btn-info crud" })
}

@if (HttpContext.Current.User.IsInRole("Subscriber"))
{
    if (!ViewBag.Blocked)
    {
        if (ViewBag.Subscpiption)
        {
            @Html.ActionLink("Unsubscribe", "Unsubscribe", "Home", new { area = "", editionId = Model.Id }, new { @class = "btn btn-success btn-lg", @role = "button" })
        }
        else
        {
            @Html.ActionLink("Subscribe", "Subscribe", "Home", new { area = "", editionId = Model.Id }, new { @class = "btn btn-primary btn-lg", @role = "button" })
        }
    }
    else
    {
        <div class="alert alert-danger">You account is blocked and you cann't subscribe on editions</div>
    }
}

<br />
<br />

@Html.Action("Reviews", "Review", new { editionId = Model.Id })
@*@Html.RenderAction("Reviews", "Review", new { editionId = Model.Id })*@