@using Periodicals.Models
@model EditionModel
@{
    ViewBag.Title = "EditEdition";
}

<h2>EditEdition</h2>


@using (Html.BeginForm("EditEdition", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div>@Html.LabelFor(m => m.Id)</div>
    <div>@Html.LabelFor(m => m.Name)</div>
    <div>@Html.TextBoxFor(m => m.Name)</div>
    <div>@Html.ValidationMessageFor(m => m.Name)</div>
    <div>@Html.LabelFor(m => m.Description)</div>
    <div>@Html.TextAreaFor(m => m.Description)</div>
    <div>@Html.ValidationMessageFor(m => m.Description)</div>
    <div>@Html.HiddenFor(m=>m.Id)</div>

    <br />
    <input type="submit" class="btn" value="Добавить" />
}